.header {
  background-image: linear-gradient(gray,red);

  height: 15vw;
}
.faq {
  background-image: url('../../assets/images/faq.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 3vw;
  width: 3vw;
  position: fixed;
  top: 5px;
  right: 5px;
}
.logo {
  background-image: url('../../assets/images/logo3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 15vw;
  width: 100%;;
}
