<div class="game-area-container">
  <header>

  </header>


  <div class="game-area">
    <div class="player2">
      <img src="../assets/images/player-back.png" alt="player's card">
    </div>
    <div class="player2-icon">
      <img src="../assets/images/innocent-icon.png" alt="player icon">
      <img class="user-gun" src="../assets/images/gun3.png" alt="gun">
    </div>
    <div class="player3">
      <img src="../assets/images/player-back.png" alt="player's card">
    </div>
    <div class="player3-icon">
      <img src="../assets/images/innocent-icon.png" alt="player icon">
    </div>
    <div class="player4">
      <img src="../assets/images/spy2.png" alt="player's card">
    </div>
    <div class="player4-icon">
      <img class="p4" src="../assets/images/spy-icon.png" alt="player icon">
    </div>
    <div class="player5">
      <img src="../assets/images/player-back.png" alt="player's card">
    </div>
    <div class="player5-icon">
      <img src="../assets/images/innocent-icon.png" alt="player icon">
    </div>
  </div>
  <div class="game-board">
    <div class="board">
      <img src="../assets/images/game-card-3.png" alt="5 player game card">
      <!-- <img class="mission-round" src="../assets/images/success-token.png" alt="successful mission"> -->
    </div>
  </div>

  <div class="user-player">
      <img class="leader-coin" src="../assets/images/leader-token.png" alt="player's card">
      <img class="player1" src="../assets/images/spy1.png" alt="player's card">
      <img class="user-gun" src="../assets/images/gun1.png" alt="gun">
  </div>

  <div class="game-pieces">
    <div class="vote">
      <img src="../assets/images/vote-approve.png" alt="player's card">
      <img src="../assets/images/vote-reject.png" alt="player's card">
    </div>
    <div class="mission">
      <img src="../assets/images/mission-success.png" alt="player's card">
      <img src="../assets/images/mission-fail.png" alt="player's card">
    </div>
  </div>


  <div class="chat">

  </div>


</div>
