<div class="nav">

</div>
<div class="game-area-container">
  <div class="game-area">
    <div class="player2">
      <img src="../assets/images/player-back.png" alt="player's card">
    </div>
    <div class="player3">
      <img src="../assets/images/player-back.png" alt="player's card">
    </div>
    <div class="player4">
      <img src="../assets/images/player-back.png" alt="player's card">
    </div>
    <div class="player5">
      <img src="../assets/images/player-back.png" alt="player's card">
    </div>
  </div>
  <div class="game-board">
    <img src="../assets/images/game-card-3.png" alt="5 player game card">
  </div>



  <div class="player1">
    <img src="../assets/images/spy1.png" alt="player's card">
  </div>
  <div class="game-pieces">
    <div class="vote">
      <img src="../assets/images/vote-approve.png" alt="player's card">
      <img src="../assets/images/vote-reject.png" alt="player's card">
    </div>
    <div class="mission">
      <img src="../assets/images/mission-success.png" alt="player's card">
      <img src="../assets/images/mission-fail.png" alt="player's card">
    </div>
  </div>
  <div class="chat">

  </div>
</div>
