.messageContainer{
    display: flex;
    height: auto;
    width: 100%;
    border-radius: 5px;
    background-color: #eee;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0,0,0,0.23);
}

.messageData{
    background-color: #696969;
    padding: 10px;
    font-size: 0.7em;
    width: 20%;
}

.sender{
    display: block;
    color: white;
    font-weight: bold;
}

.timestamp {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
}

.messageContent{
    height: auto;
    width: 80%;
    background-color: #fff;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
